.body { 
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #1B2944;
  margin: 0 auto;
  color: #FFFFFF;
}

.page{
  margin: 0 auto;
}

.header {
  max-width: 944px;
  margin: 0 auto;
  padding-top: 41px ;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 100px;
  height: 28px;
}

.socials {
  list-style-type: none;
}

.socials__list-logo {
  display: flex;
  margin: 0;
  padding: 0;
}

.cosials__logo {
  list-style-type: none;
  margin: 0 21px 0 0;
  opacity: 1;
  transition: opacity 0.5s linear 0.2s;
}

.cosials__logo:last-of-type {
  margin-right: 0;
}


.cosials__logo-img {
  width: 20px;
  height: 20px;
}

.hero {
  margin: 0 auto;
  max-width: 944px;
  display: flex;
  padding: 113px 0 71px;
  justify-content:space-between
}

.hero__group{
  flex-direction: column;
  max-width: 464px;
}

.hero__title{
  font-weight: 300;
  color: #FFBB01;
  font-size: 24px;
  line-height: 28px;
  margin: 37px 0 13px;
}

.hero__name{
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
}

.hero__description{
  font-weight: 300;
  margin: 20px 0 38px;
  font-size: 16px;
  line-height: 28px;
}

.hero__button{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 130%;
  background: #FFBB01;
  color: #1B2944;
  text-decoration: none;
  box-shadow: 0 4px 0 #B68500;
  border-radius: 10px;
  padding: 25px 62px;
  border: none;
  opacity: 1;
  transition: opacity 1s, box-shadow 1s;
}

.hero__button:hover{
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 5px 5px 5px #fbff02fd;
}

.hero__avatar{
  width: 384px;
  height: 384px;
  margin: auto;
}

.description{
  margin: 0 auto;
  padding: 64px 0 92px;
  background-color: #141F35;
}

.description__content {
  max-width: 944px;
  margin: 0 auto;
}

.description__tittle{
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding: 0 0 80px;
  margin: 0;
}

.description__block{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
  gap: 66px 16px; /*сначала между строк, потом между столбцов*/
  max-width: calc(304px*3 + 16px*2);
}

.description__element-img{
  width: 52px;
  height: 51px;
}

.description__element-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 21px 0 17px;
}

.description__element-text{
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.portfolio{
  background-color: #1B2944;
  padding: 64px 0;
  margin: 0 auto;
}

.portfolio__content{
  max-width: 944px;
  margin: 0 auto;
}

.portfolio__title{
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding: 0 0 54px;
  margin: 0;
}

.portfolio__block{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
  gap: 16px;
  max-width: calc(304px*3 + 16px*2);
}

.portfolio__element{
  width: 304px;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  transition: transform 1.2s;
}

.portfolio__element:hover{
  transform: scale(1.04);
}

.portfolio__element_project_first{
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%), url(./images/project-first.jpg);
}

.portfolio__element_project_second{
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%), url(./images/project-second.png);
}

.portfolio__element_project_third{
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%), url(./images/project-third.png);
}

.portfolio__element-title{
  margin: 172px 0 12px 30px;
  max-width: 170px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.portfolio__button{
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 400;
  margin: 0 0 28px 30px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 130%;
  background-color: #EC1F46;
  border-radius: 4px;
  box-shadow: 0px 2px 0px #ce1c3e;
  transition: opacity 1s, box-shadow 1s;
 max-width: 70px;
}

.portfolio__button:hover{
  cursor: pointer;
  opacity: 0.9;
  
}

.gallery{
  padding: 96px 0;
  background-color: #141F35;
}

.gallery__content{
  max-width: 944px;
  margin: 0 auto;
}

.gallery__block{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  max-width: calc(224*4 + 16px*3);
}

.footer {
  background-color: #1B2944;
  padding: 64px 0 87px;
}

.footer__contents{
  max-width: 944px;
  margin: 0 auto;
}

.footer__title {
  margin: 0;
  padding: 0 0 88px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.footer__block {
  display: flex;
}

.footer__form {
  padding: 47px 42px 61px;
  width: 464px;
  background-color: #FFFFFF;
  box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
  text-align:center;
  box-sizing: border-box;
}

.footer__form-title {
  margin: 0 auto 30px;
  max-width: 380px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.footer__form-input {
  width: 304px;
  height: 31px;
  background: #F8F8F8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  color: #949494;
  padding: 20px 24px 19px 52px;
  background-size: 15px, 15px;
  background-position: 24px 28px;
  background-repeat: no-repeat;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
}

.footer__form-input:first-of-type{
  background-image: url(./images/user-icon.svg);
}

.footer__form-input:last-of-type{
  background-image: url(./images/phone-icon.svg) ;
  margin: 20px auto 30px;
}

.footer__form-button {
  background: #FFBB01;
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 10px;
  border: none;
  width: 380px;
  height: 66px;
  padding: 0;
  margin: 0 auto;
}

.footer__contacts {
  display: flex;
  padding-left: 96px;
  flex-wrap: wrap;
}

.footer__phone {
  margin-right: 116px;
  margin-bottom: 32px;
}

.footer__contacts-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 20px;
}

.footer__text {
  margin:  0;
  font-weight: 300;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}

.footer__text_type_social{
  margin-right: 50px;
  margin-bottom: 32px;
}

.footer__text_type_social:last-of-type{
  margin-right: 0;
}

.footer__block-social {
  display: flex;
}

.socials__list-logo {
  display: flex;
}

.footer__confidentiality {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #949494;
  padding-left: 96px;
}

.footer__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  opacity: 1;
  transition: opacity 1s;
}

.link:hover {
  opacity: 0.4;
}