.description__element-text{
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

@media screen and (max-width: 455px) {
  .description__element-text{
    font-size: 14px;
    line-height: 28px;
  }
}

@media screen and (max-width: 343px){
  .description__element-text{
    max-width: 265px;
  }
}