.footer__form {
  padding: 47px 42px 61px;
  max-width: 464px;
  background-color: #FFFFFF;
  box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
  box-sizing: border-box;
  
}

@media screen and (max-width: 825px ) {
  .footer__form{
    max-width: 100%;
    margin-bottom: 53px;
  }
}

@media screen and (max-width: 455px){
  .footer__form{
    padding: 38px 22px 49px;
  }
}


