.footer__form-button {
  background: #FFBB01;
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 10px;
  border: none;
  min-width: 380px;
  height: 66px;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  opacity: 1;
  transition: opacity 1s, box-shadow 1s;
}

.footer__form-button:hover{
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 5px 5px #fbff02fd;
}

@media screen and (max-width: 825px ) {
  .footer__form-button{
    min-width: 100%;
  }
}

@media screen and (max-width: 455px){
  .footer__form-button{
    font-size: 10px;
  }
}