.footer {
  background-color: #1B2944;
  padding: 64px 0 87px;
}

@media screen and (max-width: 1000px ) {
  .footer{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 455px){
  .footer{
    padding-top: 63px;
    padding-bottom: 50px;
  }
}