.hero__group{
  flex-direction: column;
  max-width: 464px;
}

@media screen and (max-width: 946px ) {
  .hero__group {
    margin-right: 25px;
  }
}

@media screen and (max-width: 815px ) {
  .hero__group{
    text-align: center;
    margin: 0 auto;
  }
}

