.portfolio__title{
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding: 0 0 54px;
  margin: 0;
}

@media screen and (max-width: 455px){
  .portfolio__title{
    font-size: 19px;
    line-height: 22px;
    padding-bottom: 35px;
  }
}